.password-reset-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-reset-card{
    width: 30%;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    border-radius: 1rem;
}

.password-reset-card button{
    width: 100%;
    font-size: 1.3rem;
    padding: .7rem 0;
    margin-top: 2rem;
    background: black;
    color: white;
    transition: .3s;
}

.password-reset-card button:hover{
    background:rgba(0,0,0,0.8);
}

.password-reset-card h1,
.password-reset-card p:nth-child(2){
    margin-bottom: 1rem;
}

.reset-input-wrapper input{
    width: 100%;
    padding: .7rem 1rem;
    font-size: 1.2rem;
}

/*<--------------Media Queries (Small-Devices)----------------->*/

@media screen and (max-width: 668px){
    .password-reset-card{
        width: 80%;
    }
}